img {
    transform: translate(400px);
}
.G{
   text-align: center;
  transform: translateY(500PX);
  position: absolute;
  right: 650px;
  
}

h3 {
    color: rgb(246, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url(/image/Untitled\ design\ \(7\).png);
}