body
{
    background-image: url(/image/2200.png);

}
h1
{
color: #000000;
text-align: center;
right: 50%;
transform: translateY(400px);
}
.k{
    font-size: 100%;
    transform: translateY(500px);
   color: antiquewhite;
    
}
.A{
    font-size: 100%;
    transform: translateY(500px);
   color: rgb(0, 0, 0);
   background: #fffbfb;
   border: 1px solid rgb(255, 255, 255);
  background: cornsilk;
  background-size: 200px 100px;
  
}
.p{
    color: #0aa02b;
    text-align: center;
    transform: translateY(400px);
    position: absolute;
    right: 27%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: #f70000;
      
      
}
.s{
    color: #1818e9;
    text-align: center;
    transform: translateY(400px);
    position: absolute;
    right: 66%;
    background-color: #00f710;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.ST{
    display: block;
    margin: 0 auto;
    text-align: center;
   height: 10%;
   width: auto;
   
   background-color: rgb(255, 255, 255);
   transform: translateY(400px);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: medium;
  background-color: #1818e9;
}